composer.lock
composer.phar
vendor
application/configs/application.php

# need to backup `sessions` folder
runtime/*
!runtime/.gitkeep

ugc/*
!ugc/.gitkeep

# The other third app's folders.
.idea
.btsync
