composer.lock
composer.phar
vendor
application/configs/application.php

# need to backup `sessions` folder
runtime/*
!runtime/.gitkeep

logs/*
!logs/error/.gitkeep

ugc/*
!ugc/.gitkeep

tests/reports/*

# The other third app's folders.
.idea
.btsync
